* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    height: 30px;
    width: 200px;
    align-self: center;

}
label {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

input, label {
    align-self: center;
}
.container {
    display: flex;
    background-color: red;
    flex-direction: column;
    min-height: 100vh;

}

.column {
    display: flex;
    flex: 1;
    background-color: blue;
}

.innerDiv {
    background-color: white;
    flex: 1;
}